@model VmBase
@{
    ViewData["Title"] = "CreateCity";
}

<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <h1 class="h3 mb-2 text-gray-800">Add Image</h1>

                    <form asp-area="admin" asp-controller="home" asp-action="createimage" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="image">Image</label>
                            <input class="form-control" id="image" asp-for="@Model.ImageFile" required>
                            <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




