@model VmBase
@{ ViewData["Title"] = "Index"; }

<div class="content-page">
    <div class="content">
        <div class="container-fluid">

            <h1 class="h3 mb-2 text-gray-800">Our Mission Image</h1>

            <div style="margin-top:20px" class="card shadow mb-4">

                <div class="card-body">

                    @if (Model.OurMissionMainImages.Count() == 0)
                     {
                        <div style="margin-bottom:15px" class="col-lg-12">
                            <a class="btn btn-primary" asp-area="admin" asp-controller="home" asp-action="createimage">Add</a>
                        </div>
                     }
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Image</th>

                                    <th style="width:300px"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>

                                    <td>
                                        <img src="~/Uploads/Images/@Model.OurMissionMainImage.Image" alt="image" width="90" />
                                    </td>
                                    <td>
                                        <a style="margin-left:90px" class="btn btn-primary" asp-area="admin" asp-controller="home" asp-action="updateimage" asp-route-id="@Model.OurMissionMainImage.Id">Update</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
















