@model VmForgetPW 
@{
    ViewData["Title"] = "ForgetPassword";
}

<!-- sign-in -->
<section id="sign-in" class="bglight position-relative padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn" data-wow-delay="300ms">
                <h2 class="heading bottom30 darkcolor font-light2">
                    <span class="divider-center"></span>
                </h2>
            </div>
            <div class="col-lg-6 pl-lg-0 col-md-12 whitebox">
                <div class="widget logincontainer">

                    <h2>Forgot password?</h2>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <form asp-controller="account" asp-action="forgetpassword" class="getin_form border-form" id="login" method="post">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <div class="input-with-icon">
                                        <input type="email" asp-for="@Model.Email" class="form-control" placeholder="User Email:">
                                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                        <i class="ti-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

