@model VmReset
@{ ViewData["Title"] = "ResetPassword"; }


<!-- sign-in -->
<section id="sign-in" class="bglight position-relative padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn" data-wow-delay="300ms">
                <h2 class="heading bottom30 darkcolor font-light2">
                    <span class="divider-center"></span>
                </h2>
            </div>
            <div class="col-lg-6 pl-lg-0 col-md-12 whitebox">
                <div class="widget logincontainer">

                    <div class="container">
                        <h2>Reset password</h2>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <form asp-controller="account" asp-action="resetpassword" class="getin_form border-form" id="login" method="post">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="input-with-icon">
                                                <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Password">
                                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                                <i class="ti-unlock"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-with-icon">
                                            <input type="password" asp-for="@Model.ConfirmPass" class="form-control" placeholder="Confirm Password">
                                            <span asp-validation-for="@Model.ConfirmPass" class="text-danger"></span>
                                            <i class="ti-unlock"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary">Reset</button>
                                </div>
                            </div>
                        </form>

                    </div>



                </div>
            </div>
        </div>
    </div>
</section>




