@model VmBase
@{
    ViewData["Title"] = "CreatePhone";
}

<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <h1 class="h3 mb-2 text-gray-800">Add Phone Number</h1>

                    <form asp-area="admin" asp-controller="contact" asp-action="createphone" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Phone Number</label>
                            <input type="text" class="form-control" id="title" asp-for="@Model.Phone">
                            <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

